<!DOCTYPE html>
<html>
   <head>
   	<title>Lawyer Hiring System</title>
    <style type="text/css">
      #main-header{
   	  text-align:center;
   	  background-color:black;
   	  color:white;
   	  padding:20px;
      }
      #main-footer{
   	  text-align:right;
   	  font-size:18px;
      }
    </style>

   	</head>
   	<body>
   		<h1>ONLINE LAWYER HIRING</h1>
   		<P>
   			Welcome to India's first online lawyer hiring institute. Here we'll provide you with the best lawyers in your area according to your demand in the cheapest rate from anywhere else.
   			Just join with us and secure yourself. 
   		</P>
   		<P>
   			<button onclick="document.location='Signup.html'">REGISTER</button>
   			<button onclick="document.location='login.html'">LOGIN</button>
   		</P>
   		<p>
   			<h3>CONTACT US</h3>
   		</p>
   		<P>
   			Phone No.- 9122044963
   			Email:<p>
   				<a href="prasoonmadhup56@gmail.com">prasoonmadhup56@gmail.com</a>
   			</p> 
   		</P>
   	</body>
</html>